@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&family=Momo+Trust+Display&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --primary-color: #686868;
   --secondary-color: #FAFAFA;
   --bg-color: #E9E9E9;
   --bigger-text: 4.5rem;
   --big-text: 3rem;
   --medium-text: 2rem;
   --default-text: 1.4rem;
   --small-text: 1rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition: all ease-in 0.5s;
}


.main-container{
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  gap: 20px;
  overflow: hidden;
}

.search-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 30%;
  animation: opacity 1s ease-in-out forwards;
  
}

.search-container > h1{
   font-size: var(--bigger-text);
}

.input-suggest-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.location-btn{
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.5s linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
}

.location-btn:hover{
  transform: translateY(-5px);
}



.input-outer-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
}

.input-inner-wrapper{
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow:  inset 1px 1px 1px gray;
}



.input-bar, .search-btn{
  appearance: none;
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: var(--small-text);
}

.input-bar{
  width: 100%;
}

.search-btn{
  display: flex;
}

.places-suggestions-wrapper{
  position: absolute;
  display: flex;
  bottom: -87px;
  gap: 5px; 
  width: 90%;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: auto;
  max-height: 87px;
}

.list-suggest{
   padding: 0px  20px;
   text-align: start;
   font-size: var(--small-text);
   width: 100%;
   cursor: pointer;
   border: 0;
   background-color: transparent;
}

.list-suggest:hover{
  background-color: #E9E9E9;
}


.weather-info-container{
  display: flex;
  width: 70%;
  height: 530px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
  animation: popup 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  overflow: hidden;
}

.weather-info-col1{
  display: flex;
  flex-direction: column;
  padding: 10px 20px 30px 20px;
  gap: 20px;
}

.weather-info-col2{
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
  max-width: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.col2-upper-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--default-text);
}

.col2-upper-section > p:nth-child(1){
  font-size: var(--default-text);
}

.col2-middle-section{
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.col2-lower-section{
  font-size: var(--small-text);
}

.col1-lower-section > p:nth-child(2){
  font-size:  var(--small-text);
}


.col1-upper-section{
  display: flex;
  justify-content: space-between;
  font-size: var(--default-text);

}
.col1-middle-section{
  flex: 2;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.col1-middle-section > div:nth-child(1){
  text-align: center;
  font-size: var(--bigger-text);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-left: 20%;
}

.col1-middle-section > div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col1-middle-section > div:nth-child(1) > h1{
  flex: 1;
  padding: 0;
  margin:0;   
  line-height: 1;
}

.col1-middle-section > div:nth-child(1) > h1:nth-child(1){
  display: flex;
}

.col1-middle-section > div:nth-child(1) > h1:nth-child(2){
  font-size: var(--medium-text);
  font-weight: 500;
}


.col1-middle-section > div:nth-child(2) > div{
  display: flex;
  align-items: center;
  gap: 10px;
}



.col1-lower-section{
  flex: 1;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  gap: 5px;
}

.col2-lower-section{
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  row-gap: 10px;
  column-gap: 15px;
  align-content: flex-start;
}

.weather-info-col1{
  flex: 2 ;
}

.weather-info-col2{
  flex: 1;
}

.card-col1{
  flex: 1;
  font-size: var(--small-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
  font-weight: 400;
  padding: 5px;
  border-radius: 15px;
  height: 0%;
  opacity: 0;
  animation: miniPopUp 0.5s ease-in-out forwards;
  overflow: hidden;
  cursor: pointer;
  transition: transform   0.5s ease;
}

.card-col1:hover{
  transform: scale(1.1);
}

.card-col2{
  flex: 1 1;
  font-size: var(--small-text);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 5px;
  border: 1px solid #686868;
  border-radius: 10px;
  color: var(--primary-color);
}

.weather-info-col2 > p {
  font-size: var(--default-text);
}



.card-col1 > p:nth-child(1), .card-col2 > p:nth-child(1){
  font-size: var(--small-text);
  font-weight: bold;
}

.card-col1 > p:nth-child(2), .card-col2 > p:nth-child(2){
  font-size: var(--default-text);
}


.card-col1 > p:nth-child(3), .card-col2 > p:nth-child(3){
  font-size: var(--small-text);
}

.back-to-back-description{
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  transform-style: preserve-3d;
  animation: rotateUpDown 5s ease-in-out alternate-reverse infinite;
}

.face-description > p{
  font-weight: bold;
  font-size:  var(--default-text);
}

.face-description, .back-description{
  display:  flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  backface-visibility: hidden;
  background-color: #f0f0f0;
  justify-content: center;
}

.back-description{
  position: absolute;
  transform: rotateX(180deg);
}



@keyframes popup {
  from{
    height: 0px;
  }
  to{
    height: 500px;
  }
}

@keyframes miniPopUp {

  100%{
    height: 100%;
    opacity: 1;
  }
}



@keyframes rotateUpDown {
  0%{
    transform: rotateX(0deg);
  }
  20%{
    transform: rotateX(0deg);
  }
  60%{
    transform: rotateX(-180deg);
  }
  100%{
     transform: rotateX(-180deg);
  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


@media(max-width: 1000px){
  .search-container{
    width: 50%;
  }
  .main-container{
    overflow: auto;
    justify-content: start;
    padding-top: 30px;
  }

  .weather-info-container{
    width: 90%;
    flex-direction: column;
    height: auto !important;
    overflow: visible;
  }
  
  .weather-info-col2{
    max-width: 100%;
  }
  
}

@media(max-width: 750px){
  .weather-info-col1{
    gap: 40px;
  }

  .search-container > h1{
   font-size: var(--big-text);
}
}

@media(max-width: 560px){
  :root{
    --bigger-text: 4rem;
   --big-text: 2.5rem;
   --medium-text: 1.5rem;
   --default-text: 1rem;
   --small-text: 0.5rem;
  }
   .search-container{
    width: 60%;
  }
  .search-container > h1{
    font-size: var(--big-text);
  }

}

@media(max-width: 370px){
  .search-container{
    width: 80%;
  }
  :root{
    --bigger-text: 3rem;
   --big-text: 2rem;
   --medium-text: 1.2rem;
   --default-text: 1rem;
   --small-text: 0.5rem;
  }
}