@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kiwi+Maru&family=Momo+Trust+Display&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --primary-color: #686868;
   --secondary-color: #FAFAFA;
   --bg-color: #E9E9E9;
   --bigger-text: 3rem;
   --big-text: 2rem;
   --medium-text: 1.3rem;
   --default-text: 1rem;
   --small-text: 0.7rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  transition: all ease-in 0.5s;
}


.main-container{
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  overflow-y: auto;
  gap: 20px;
}

.search-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.search-container > h1{
   font-size: 2rem;
}

.input-suggest-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper{
  display: flex;
  background-color: var(--secondary-color);
  width: 100%;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow:  inset 1px 1px 1px gray;

}

.input-bar, .search-btn{
  appearance: none;
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: var(--small-text);
}

.search-btn{
  display: flex;
}

.places-suggestions-wrapper{
  position: absolute;
  display: flex;
  bottom: -87px;
  gap: 5px; 
  width: 90%;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: auto;
  max-height: 87px;
}

.list-suggest{
   padding: 0px  20px;
   text-align: start;
   font-size: var(--small-text);
   width: 100%;
   cursor: pointer;
   border: 0;
   background-color: transparent;
}

.list-suggest:hover{
  background-color: #E9E9E9;
}


.weather-info-container{
  display: flex;
  width: 80%;
  height: 300px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
}

.weather-info-col1{
  display: flex;
  flex-direction: column;
  padding: 10px 20px 30px 20px;
}

.weather-info-col2{
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.col2-upper-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col2-upper-section > p:nth-child(1){
  font-size: var(--default-text);
}

.col2-middle-section{
  font-size: var(--small-text);
}

.col2-lower-section{
  font-size: var(--small-text);
}

.col1-lower-section > p:nth-child(2){
  font-size:  var(--small-text);
}


.col1-upper-section{
  display: flex;
  justify-content: space-between;

}
.col1-middle-section{
  flex: 2;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.col1-middle-section > div:nth-child(1){
  text-align: center;
  font-size: var(--bigger-text);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-left: 20%;
}

.col1-middle-section > div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
}

.col1-middle-section > div:nth-child(1) > h1{
  flex: 1;
  padding: 0;
  margin:0;   
  line-height: 1;
}

.col1-middle-section > div:nth-child(1) > h1:nth-child(2){
  font-size: var(--medium-text);
  font-weight: 500;
}


.col1-middle-section > div:nth-child(2) > div{
  display: flex;
  align-items: center;
  gap: 10px;
}


.col1-lower-section{
  flex: 1;
  height: 50px;
}

.weather-info-col1{
  flex: 2 ;
}

.weather-info-col2{
  flex: 1;
}